.btn:focus {
  outline: none;

}

.btn {
    border:  none;
    outline: white 1px;
       border-radius: 10px;
       padding: 1px;
       margin: 1px;
}



.saveform {
  text-color:blue;
  width: 200px;
}

h1{
  color:lightseagreen;
  text-align: center;
}

.board{
  width: 100%;
  min-width: 550px;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: white;
  border: none;
   /*margin: 0 auto;*/
}

#submitButton{
  height: 30px;
}

.buttonWrapper{
  margin-left: %;
  
}
.buttonWrapper:focus {
  outline: none;

}

input[type=submit] {
    width:250px;
    margin-left:400px;
    margin-top:4px;
    max-height:50px;
    padding:5px 10px; 
    font-size: 20px;
    /*background:#ccc; */
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    height: 27px;
}

input[type=text] {
    width:250px;
    margin-left:400px;
    height: 37px;
    font-size: 16px;
    padding:5px 10px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

select {
    width:250px;
    height: 40px;
    font-size: 20px;
    margin-left:400px;
    margin-bottom: 5px;
    padding:5px 10px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
  }